body {
    padding: 20px 60px;
    font-family: 'Open Scans Condensed';
  }
  
  .App {
    text-align: center;
  }
  
  h1 {
    font-family: 'Bigelow Rules';
    font-size: 72px;
    color: #0ccac4;
  }

  a {
    text-decoration: none;
    color: black;
  }
  